@media (max-width: 741px){
    .header_btn .search-icon{
        display: none;
    }
}
@media (min-width: 1024px){
    .header_btn .menu-btn{
        display: none;
    }
}
@media (min-width: 1024px) and (max-width: 1240px) {
    #header .header_navbar .header_navbar-item {
        text-transform: capitalize;
    }
}
/*--------------- Talet and mobile------------------ */
@media (max-width: 1023px) {
    #header{
        justify-content: space-between;
    }
    #header .header-logo{
        margin-left: 5%;
    }
    #header .header_navbar{
        display: none;
    }
    .search-icon{
        margin-right: 90px;
    }
    .menu-btn{
        display: block;
    }
}
/* --------------Talet--------------------- */
@media (min-width: 740px) and (max-width: 1023px) {
    
    #header .header_btn .menu-btn{
        margin-left: 14px;
    }
    .header_navbar .header_navbar-item a{
        
        padding: 24px 14px;
    }
    .menu_mobile{
        width: 40%;

    }
}

/* --------------Mobile--------------------- */
@media (max-width: 740px){
    .header_navbar .header_navbar-item a{
        padding: 14px 15px;
    }
}