@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --base-color: #f5871f;
    --backgrount-color: #353530;
    --base-hover: #bf5906;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Arvo', serif;
    font-size: 16px;
}
body{
    background-color: var(--backgrount-color);
    transition: all linear 0.4s;
    width: 100%;

}
.pst-fixed{
    position: fixed;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #fff;
    z-index: 10;
}

#header .header-logo img{
    width: 130px;
}
#header .header_navbar{
    display: flex;
    list-style-type: none;
}
.header_navbar .header_navbar-item {
    text-transform: uppercase;
}
.header_navbar .header_navbar-item a{
    text-decoration: none;
    color: #333;
    transition: 0.25s;
    display: block;
    padding: 30px 14px;
}
.header_navbar .header_navbar-item:hover a{
    color: var(--base-color);
}
#header .header_btn{
    display: flex;
    align-items: center;
}
#header .search-icon,
.menu-btn{
    padding: 16px 18px;
    border: solid 1px #ccc;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.menu-btn{
    display: none;
    position: absolute;
    top: 18px;
    right: 25px;
}
.nav_input{
    display: none;
}

/* Overlay */
.header_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: fadeIn linear 0.2s;
}
/* ----------------Menu mobile and Talet--------------- */
.menu_mobile{
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s ;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    min-width: 300px;
    z-index: 10;
}
.menu_mobile .header-logo {
    height: 90px;
    
}
.menu_mobile .header-logo img {
    margin-left: 10px;
    margin-top: 10px;
    width: 130px;
}
.menu_mobile .header-logo .menu_mobile-close {
    cursor: pointer;
    float: right;
    font-size: 28px;
    padding: 0 20px;
    line-height: 90px;
    margin-right: 10px;
}
.menu_mobile .header_navbar{
    margin-top: 20px;
}

.menu_mobile .header_navbar .header_navbar-item{
    text-transform: capitalize;
    font-size: 14px;
}
.nav_input:checked ~ .header_overlay{
    display: block;
}
.nav_input:checked ~ .menu_mobile{
    transform: translateX(0);
    opacity: 1;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.circle{
    position: absolute;
    display: inline-block;
    opacity: 0.4;
    background-color: var(--base-hover);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 60px;
    transform: translateY(60px);
    z-index: 2;
    animation: circle-animation 3s infinite;
}


@keyframes circle-animation {
    0% {
        width: 100px;
        height: 100px;
    }
    5% {
        width: 102px;
        height: 102px;
    }
    10% {
        width: 104px;
        height: 104px;
    }
    15% {
        width: 106px;
        height: 106px;
    }
    20% {
        width: 108px;
        height: 108px;
    }
    25% {
        width: 110px;
        height: 110px;
    }
    30% {
        width: 112px;
        height: 112px;
    }
    35% {
        width: 114px;
        height: 114px;
    }
    40% {
        width: 116px;
        height: 116px;
    }
    45% {
        width: 118px;
        height: 118px;
    }
    50% {
        width: 120px;
        height: 120px;
    }
    55% {
        width: 118px;
        height: 118px;
    }
    60% {
        width: 116px;
        height: 116px;
    }
    65% {
        width: 114px;
        height: 114px;
    }
    70% {
        width: 112px;
        height: 112px;
    }
    75% {
        width: 110px;
        height: 110px;
    }
    80% {
        width: 108px;
        height: 108px;
    }
    85% {
        width: 106px;
        height: 106px;
    }
    90% {
        width: 104px;
        height: 104px;
    }
    95% {
        width: 102px;
        height: 102px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

.triangle{
    position: absolute;
    background-color: var(--backgrount-color);
    right: 0;
    width: 0px;
    height: 0px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 0;
    border-bottom: 40px solid #fff;
    margin-right: 70px;
    margin-top: 150px;
    z-index: 1;
    opacity: 0.8;
    animation: triangle-rotate 5s infinite;
}


@keyframes triangle-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
/* css slider */
.slider{
}
.slider-items{
    background-color: var(--backgrount-color);
    text-align: left;
    padding: 250px 0 120px;
}
.slider_content{
    padding-left: 130px;
}
.slider_content-title{
    font-size: 75px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--base-color);
    padding-bottom: 15px;
    line-height: 1.2;
}
.slider-text{
    padding-bottom: 30px;
    color: #686A6F;
    line-height: 2;
}
.slider-email{
    
}
.input-email{
    outline: 0;
    padding: 24px;
    width: 70%;
}
.submit-btn{
    text-transform: uppercase;
    font-weight: 700;
    padding: 23px 40px;
    font-size: large;
    color: #fff;
    background-color: var(--base-color);
    border: none;
    clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    margin-left: 18px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: var(--base-hover);
    transition: all linear 0.3s;
}

.slider_content-img{

}
.slider_content-img img{
    width: 636px;
    transform: translateY(-35px);
    transition: all linear 2s;
    animation: slider-img 2s infinite;
}

.slick-prev{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transform: translateX(-30px);
    background-color: var(--base-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 18px 25px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.slick-next{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transform: translateX(30px);
    background-color: var(--base-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 18px 25px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.slick-prev:hover, .slick-next:hover{
    background-color: var(--base-hover);
}
.slider:hover .slick-prev,
.slider:hover .slick-next{
    visibility: visible;
    opacity: 1;
    transition: all linear 0.3s;
    transform: translateX(0);
}

@keyframes slider-img {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(1px);
    }
    20% {
        transform: translateY(2px);
    }
    30% {
        transform: translateY(3px);
    }
    40% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(4px);
    }
    70% {
        transform: translateY(3px);
    }
    80% {
        transform: translateY(2px);
    }
    90% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

#about_section{
    background-color: var(--backgrount-color);
    position: relative;
}

.about_img-item{
    width: 668px;
    height: 684px;
    position: absolute;
}
.about_content{
    padding: 0 100px;
    transform: translateY(100px);
}

.about_content-box {
    width: 640px;
    display: inline-block;
    transform: translateX(700px);
}

.sub-title, .about-title, .about_content-box p {
    margin-bottom: 15px;
}
.sub-title {
    color: var(--base-color);
}
.about-title {
    font-size: 58px;
    color: #fff;
}

.about_content-box p{
    color: #fff;
    line-height: 1.8;
}

.about-recomment {
    display: flex;
    background-color: #fff;
    margin-top: 58px;
    padding: 25px 30px 25px 30px;
    overflow: visible;

}
.about-recomment .customer-img {
    transform: translateY(-50px);
}

.about-recomment .customer-comment{
    margin-left: 40px;
}
.about-recomment .customer-comment p{
    color: #555459;
    font-size: 18px;
}
.about-recomment .customer-comment .costomer-name{
    color: var(--base-color);
    font-size: 18px;
    font-weight: 700;
}

.customer-comment .mes-icon{
    position: absolute;
    font-size: 70px;
    opacity: 0.1;
    right: 20px;
    bottom: 20px;
}